/* CSS Document */

@media screen and (min-width: 100px) {
	body {padding:  0% 10% 10%; zoom: 120%; background-color: lightblue;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 300px) and (min-height:100px) {
	body {padding:  0% 10% 10%; zoom: 120%; background-color: green;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 400px) and (min-height:600px) {
	body {padding:  0% 10% 10%; zoom: 120%; background-color: yellow;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 600px) and (min-height:700px){
	body {padding:  0% 10% 10%; zoom: 120%; background-color: orange;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 700px) and (min-height:800px){
	body {padding:  0% 10% 10%; zoom: 120%; background-color: lightgreen;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 800px) and (min-height:800px){
	body {padding:  0% 10% 10%; zoom: 120%; background-color: lightblue;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 900px) and (min-height:800px){
	body {padding:  0% 10% 10%; zoom: 120%; background-color: pink;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

@media screen and (min-width: 1050px) and (min-height:800px){
	body {padding:  0% 10% 10%; zoom: 120%; background-color: lightgray;}
	h3 {font-size: 16px}
	h4 {font-size: 12px;}
	p {font-size: 14px;}
	li {font-size: 12px;}
	sub {font-size: 10px;}
}

/* @media screen and (max-width: 1000px) {
	body {padding: 0% 20% 10%; background-color: red;}
	li {font-size: small;}
	h4 {font-size: 14px;}
} */

p {text-align: justify; line-height: 1.35em;}

.flex-container {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 10%;
}

.languages, .home {background-color: #EEE; border-radius: 5px;}

.language, .home-button, .active-language {background: none; border: none;}

.active-language {background-color: #D9D9F5; border-radius: 3px;}

.language:hover, .home-button:hover {background-color: #D9D9F5; border-radius: 3px;}

sub {vertical-align: baseline;}

a {
	color: black;
	text-decoration: none;
	background-color: #D9D9F5;
	padding: 0 3px;
	border-radius: 3px;
}

a:hover {background-color: #b6b6f2;}

.container {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0 20px;
	flex-wrap: wrap;
}

li {padding: 5px 10px;
	margin: 5px;
	background-color: #D9D9F5;
	border-radius: 5px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
}

h4 {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
	border-left: 3px solid #6666cc;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #EEE; 
}